<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>主页</title>
   <link rel="stylesheet" href="/public/css/main.css"></link>
   <link rel="stylesheet" href="/public/css/bootstrap3.3.7.min.css"></link>
   
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="/public/js/index.js"></script> 
</head>

<body>
   <!--页头-->
   <img class="img-responsive" alt="" src="/public/img/v3default2.jpg" />
   <div class="container">
      <div class="row clearfix">
         <div class="row clearfix">
            <div class="col-md-1 column">
            </div>
            <div class="col-md-1 column">
            </div>
            <div class="col-md-1 column">
               <h3>
                  HTML
               </h3>
            </div>
            <div class="col-md-1 column">
               <h3>
                  Nodejs
               </h3>
            </div>
            <div class="col-md-1 column">
               <h3>
                  java
               </h3>
            </div>
            <div class="col-md-1 column">
               <h3>
                  vue
               </h3>
            </div>
            <div class="col-md-1 column">
               <h3>
                  python
               </h3>
            </div>
            <div class="col-md-1 column">
               <h3>
                  other
               </h3>
            </div>
            <div class="col-md-4 column">
            </div>
         </div>
      </div>
   </div>
   <hr>
   <br><br>



   <!--内容片区-->
   <div class="row clearfix">
      <div class="col-md-2 column">
      </div>
      <div class="col-md-5 column">
         <div class="media">
            <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
            <div class="media-body">
               <h4 class="media-heading">
                  Nested media heading
               </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
               Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
               <div class="media">
                  <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
                  <div class="media-body">
                     <h4 class="media-heading">
                        Nested media heading
                     </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                     commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </div>
               </div>
            </div>
         </div>
         <div class="media">
            <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
            <div class="media-body">
               <h4 class="media-heading">
                  Nested media heading
               </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
               Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
               <div class="media">
                  <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
                  <div class="media-body">
                     <h4 class="media-heading">
                        Nested media heading
                     </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                     commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </div>
               </div>
            </div>
         </div>
         <div class="media">
            <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
            <div class="media-body">
               <h4 class="media-heading">
                  Nested media heading
               </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
               Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
               <div class="media">
                  <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
                  <div class="media-body">
                     <h4 class="media-heading">
                        Nested media heading
                     </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                     commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </div>
               </div>
            </div>
         </div>
         <div class="media">
            <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
            <div class="media-body">
               <h4 class="media-heading">
                  Nested media heading
               </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
               Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
               <div class="media">
                  <a href="#" class="pull-left"><img src="/public/img/v3default.jpg" class="media-object" alt='' /></a>
                  <div class="media-body">
                     <h4 class="media-heading">
                        Nested media heading
                     </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                     commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </div>
               </div>
            </div>
         </div>
        
         <!--分页-->
         <ul class="pagination">
            <li>
               <a href="#">Prev</a>
            </li>
            <li>
               <a href="#">1</a>
            </li>
            <li>
               <a href="#">2</a>
            </li>
            <li>
               <a href="#">3</a>
            </li>
            <li>
               <a href="#">4</a>
            </li>
            <li>
               <a href="#">5</a>
            </li>
            <li>
               <a href="#">Next</a>
            </li>
         </ul>
      </div>



      <!--右侧片区-->


      <div class="col-md-3 column">
         <!--用户信息-->
         <!--如果后端模块中的id存在则渲染这部分-->
         {% if userInfo._id %}
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">
                  用户信息
               </h3>
            </div>
            <div class="panel-body">
               <!--渲染部分-->
               用户名<div id="user_name">{{userInfo.un}}</div><br>
               用户id<div id="user_id">{{userInfo._id}}</div>
            </div>
            <div class="panel-footer">
               {% if userInfo.isAdmin %}
               <div class="btn text-left" id="toht">管理后台</div> 
               {% endif %}
               <div class="btn text-right" id="todc">退出</div> 
            </div>
         </div>
         <!--用户信息结束-->
         <!--登陆注册-->
         {% else %}
         <div class="panel-group" id="panel-748762">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-748762"
                     href="#panel-element-919188">登陆</a>
               </div>
               <div id="panel-element-919188" class="panel-collapse collapse">
                  <div class="panel-body">
                     <!--登陆内容-->
                     <form role="form" id="dl">
                        <div class="form-group">
                           <label for="exampleInputEmail1">用户名</label><input type="text" class="form-control" name="un"
                              id="getdlun" />
                        </div>
                        <div class="form-group">
                           <label for="exampleInputPassword1">密码</label><input type="password" name="pw1"
                              class="form-control" id="getdlpw1" />
                        </div>
                     </form>
                     <button id="todl" class="btn btn-default">登陆</button>
                     <div id="dlerrmsg" style="display: inline;color:red"></div>
                     <div id="dlsuccmsg" style="display: inline;color:green"></div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-748762"
                     href="#panel-element-627785">注册</a>
               </div>
               <div id="panel-element-627785" class="panel-collapse collapse">
                  <div class="panel-body">
                     <!-- 注册内容-->
                     <form role="form" id="zc">
                        <div class="form-group">
                           <label for="exampleInputEmail1">用户名</label><input type="text" class="form-control" name="un"
                              id="getun" />
                        </div>
                        <div id="unmsg" style="display: inline;color:red"></div>
                        <div class="form-group">
                           <label for="exampleInputPassword1">密码</label><input type="password" name="pw1"
                              class="form-control" id="getpw1" />
                        </div>
                        <div class="form-group">
                              <label for="exampleInputPassword1">再次输入密码</label><input type="password" name="pw2"
                                 class="form-control" id="getpw2" />
                           </div> 
                        <div id="pwmsg" style="display: inline;color:red"></div>
                     </form>
                     
                     <button id="tozc" class="btn btn-default">注册</button>
                     
                     <div id="resmsg" style="display: inline;color:green"></div>
                  </div>
               </div>
            </div>
         </div>
         {% endif %}
         <!--登陆注册结束-->
         <!--社区-->
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">
                  社区
               </h3>
            </div>
            <div class="panel-body">
               用户信息内容
            </div>
         </div>
         <!--社区结束-->
      </div>
      <div class="col-md-2 column">
      </div>
   </div>
   </div>





   <!--页尾-->
</body>

</html>